<div id="exampleModalLive" class="modal fade" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" style="margin:0 auto;" id="exampleModalLiveLabel">OPEN AGREEMENT</h5>
            </div>
            <div class="modal-body">
                <p>THE COLLEGE CODE of Provincialised Colleges of ASSAM is an all comprehensive e-package containing various
                    information in different digital formats related to Provincialised Colleges of Assam. All efforts have
                    been made to ensure accuracy of the contents of this e-package – the same should not be construed as
                    a statement of law. Any information provided in this e-package through this web site has been prepared
                    solely for the purpose of providing information required for Provincialised Colleges of Assam to interested
                    parties, and does not constitute any advice and should not be relied upon in making (or refraining from
                    making) any final decision. Further that, any information provided in this e-package is to be verified
                    with the relevant department(s) and/or other source(s), and to obtain appropriate professional advice
                    before making any final decision.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.open('/contact', '_self', '');">Exit</button>
                <button id="agree" type="button" class="btn btn-danger" data-dismiss="modal">Agree</button>
            </div>
        </div>
    </div>
</div>