{% extends "personal/header.html" %} {% block content %}

<div class="container" style="min-height:50%;">
    <div class="bg-light border border-danger rounded">
        <p class="m-3 lead">THE COLLEGE CODE of Provincialised Colleges of ASSAM is an all comprehensive e-package containing various information
            collated and hosted for benefit of the employees of provincialised colleges of Assam.</p>

        <div class="text-justify">
            <p class="mx-3">Letters issued by
                <abbr title="Directorate of Higher Education, Assam">DHE, Assam</abbr> concerning the employees of provincialised colleges of Assam are made available in this
                e-package.
            </p>

            <p class="mx-3">This e-package is intended to provide easily accessible information along with relevant guidelines and application
                formats on the following topics:</p>
            <ul class="mx-3">
                <li>Revised structures of pay and allowances as per UGC Regulations,2010 and Assam Services Revision of Pay (ROP).
                    Rules 2010 </li>
                <li>Acts and Rules pertinent to provincialised colleges of Assam including the Acts and Statutes of the Universities
                    of North Eastern Region.</li>
                <li>Guidelines of promotions as per
                    <abbr title="Career Advancement Scheme">CAS</abbr> of the Govt. of Assam,
                    <abbr title="Academic Performance Indicator">API</abbr> Score under
                    <abbr title="Performance Based Appraisal System">PBAS</abbr>,
                    <abbr title="Orientation Programmes / Refresher Courses">OPs/RCs</abbr>,
                    <abbr title="Special Summer Schools / Special Winter Schools">SSS/SWS</abbr> Programmes, Seminars and Workshops under
                    <abbr title="Faculty Improvement Programme">FIP</abbr>.
                </li>
                <li>Financial grants from UGC and other sources.</li>
                <li>All kinds of
                    <abbr title="Pensions under Assam Services Pension Rules 1969">Pensions</abbr>,
                    <abbr title="Death-cum-Retirement Gratuity (DCRG)"> Gratuity</abbr>,
                    <abbr title="Group Insurance Scheme"> GIS</abbr> and
                    <abbr title="Cash payment in lieu of un-utilised earned leave"> Leave Encashment.</li>
            </ul>
            <p class="mx-3">This e-package includes files to prepare Pay Fixation Forms and to calculate revised salary including arrears.
                A rate reckoner is provided to know the prevalent rates of different items related to pay and allowances.</p>
            <p class="mx-3">
                <abbr title="The Revised Leave Rules 1934">Leave Rules</abbr> are explained in this e-package though questions and answers. </p>
            <p class="mx-3">Hyperlinks of different "academic journals", "academic web sites" and that of the "provincialised colleges of
                Assam" are provided in this e-package for users' benefit.
            </p>
        </div>
    </div>
</div>


{% endblock %}