{% extends "personal/header.html" %} {% load static %} {% block content %} {% include 'personal/includes/disclaimer.html'%}
<div class="jumbotron jumbotron-fluid bg-dark text-white" style="margin-left:-15px;margin-right:-15px;">
    <div class="container text-center">
        <h1 class="display-4">Provincialised Colleges of Assam</h1>
        <p class="lead">Weblinks of Provincialised Colleges of Assam.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="contentRow">
        <div class="col-12">
            <p>
                The names of the provincialised colleges are as per the list published by
                <a href="http://www.dheassam.gov.in/colleges.asp" target="_blank">DHE, Assam</a> on its web site.
            </p>
            <p>
                <a href="http://dheassam.gov.in/colleges_1.asp" target="_blank">Click here </a> to visit the Directorate of Higher Education, Assam for the official list of provincialised
                colleges in Assam.
            </p>
            <p>
                The Principals of the colleges are earnestly requested to check the names and addresses of the colleges and, if required,
                they may send an
                <a href="{% url 'contact' %}"> email</a> with the correct name and address of the concerned college to be uploaded here.
            </p>
            <p>
                Registration procedures to register a domain name under
                <strong>ac.in</strong> and
                <strong>edu.in</strong>
                <a href="http://www.registry.ernet.in/" title="ERNET" target="_blank">Click here to open the website of ERNET - Domain Registrar for
                    <strong>ac.in</strong> and
                    <strong>edu.in</strong>
                </a>
            </p>
            <p>
                DHE has published a list of
                <strong>301 numbers</strong> of Govt./ Provincialised Colleges of Assam on
                <strong>December 22, 2016.</strong>
                <a href="../pdf/provincialised colleges/301_Colleges_District-wise.pdf" title="DHE's List of 301 Colleges" target="_blank">
                    Click to download the list as pdf.
                </a>
            </p>

            <p>
                Hyperlinks are provided for users' convenience only and do not constitute endorsement of any information contained therein.
                From this webapge, users may not get link to a particular “college website” or may be linked to “other unexpected
                website”, if, either domain name or URL of that particular “college website” being changed after the date
                of updation of this webpage.
            </p>
            <br>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 text-center bg-light rounded-top p-2">
            <h4>Provincialised Colleges of ASSAM</h4>
        </div>
    </div>
    <nav id="navbar-example" class="navbar sticky-top navbar-light bg-light justify-content-around border-bottom" style="top:56px; z-index:2;">
        <ul class="nav nav-pills nav-justified" id="abcdes">
            <li class="nav-item">
                <a class="nav-link {% if colleges_A|length == 0%} disabled {% endif %}" href="#A">A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_B|length == 0%} disabled {% endif %}" href="#B">B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_C|length == 0%} disabled {% endif %}" href="#C">C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_D|length == 0%} disabled {% endif %}" href="#D">D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_E|length == 0%} disabled {% endif %}" href="#E">E</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_F|length == 0%} disabled {% endif %}" href="#F">F</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_G|length == 0%} disabled {% endif %}" href="#G">G</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_H|length == 0%} disabled {% endif %}" href="#H">H</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_I|length == 0%} disabled {% endif %}" href="#I">I</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_J|length == 0%} disabled {% endif %}" href="#J">J</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_K|length == 0%} disabled {% endif %}" href="#K">K</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_L|length == 0%} disabled {% endif %}" href="#L">L</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_M|length == 0%} disabled {% endif %}" href="#M">M</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_N|length == 0%} disabled {% endif %}" href="#N">N</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_O|length == 0%} disabled {% endif %}" href="#O">O</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_P|length == 0%} disabled {% endif %}" href="#P">P</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_Q|length == 0%} disabled {% endif %}" href="#Q">Q</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_R|length == 0%} disabled {% endif %}" href="#R">R</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_S|length == 0%} disabled {% endif %}" href="#S">S</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_T|length == 0%} disabled {% endif %}" href="#T">T</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_U|length == 0%} disabled {% endif %}" href="#U">U</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_V|length == 0%} disabled {% endif %}" href="#V">V</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_W|length == 0%} disabled {% endif %}" href="#W">W</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_X|length == 0%} disabled {% endif %}" href="#X">X</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_Y|length == 0%} disabled {% endif %}" href="#Y">Y</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if colleges_Z|length == 0%} disabled {% endif %}" href="#Z">Z</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/" method="POST" role="search">{% csrf_token %}
            <div class="input-group my-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white border-right-0 px-2">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <input type="search" class="form-control border-right-0 border-left-0 px-1" id="searchColleges" autocomplete="off">
                <div class="input-group-append">
                    <div class="input-group-text bg-white border-left-0 px-2" id="clearButtonDiv">
                        <i class="fas fa-times" style="visibility:hidden;" id="clear-button"></i>
                    </div>
                </div>
            </div>
            <small id="passwordHelpInline" class="p-1 text-muted">
                Type to search by name, use d: to search by district
            </small>
        </form>
    </nav>
    <div class="row m-0" id="listRow">
        <div class="col-12 text-center p-0 bg-white rounded-bottom" data-spy="scroll" data-target="#navbar-example" data-offset="100"
            style="position:relative; height:400px; overflow-y:auto; z-index:1;">
            {% include 'personal/includes/college_search.html'%}
            <div class="container-fluid p-0" id="collegeList">
                {% if colleges_A %}
                <h4 class="bg-light border-top border-bottom py-3" id="A">A</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_A %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_B %}
                <h4 class="bg-light border-top border-bottom py-3" id="B">B</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_B %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_C %}
                <h4 class="bg-light border-top border-bottom py-3" id="C">C</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_C %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_D %}
                <h4 class="bg-light border-top border-bottom py-3" id="D">D</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_D %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_E %}
                <h4 class="bg-light border-top border-bottom py-3" id="E">E</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_E %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_F %}
                <h4 class="bg-light border-top border-bottom py-3" id="F">F</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_F %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_G %}
                <h4 class="bg-light border-top border-bottom py-3" id="G">G</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_G %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_H %}
                <h4 class="bg-light border-top border-bottom py-3" id="H">H</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_H %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_I %}
                <h4 class="bg-light border-top border-bottom py-3" id="I">I</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_I %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_J %}
                <h4 class="bg-light border-top border-bottom py-3" id="J">J</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_J %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_K %}
                <h4 class="bg-light border-top border-bottom py-3" id="K">K</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_K %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_L %}
                <h4 class="bg-light border-top border-bottom py-3" id="L">L</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_L %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_M %}
                <h4 class="bg-light border-top border-bottom py-3" id="M">M</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_M %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_N %}
                <h4 class="bg-light border-top border-bottom py-3" id="N">N</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_N %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_O %}
                <h4 class="bg-light border-top border-bottom py-3" id="O">O</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_O %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_P %}
                <h4 class="bg-light border-top border-bottom py-3" id="P">P</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_P %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_Q %}
                <h4 class="bg-light border-top border-bottom py-3" id="Q">Q</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_Q %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_R %}
                <h4 class="bg-light border-top border-bottom py-3" id="R">R</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_R %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_S %}
                <h4 class="bg-light border-top border-bottom py-3" id="S">S</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_S %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_T %}
                <h4 class="bg-light border-top border-bottom py-3" id="T">T</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_T %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_U %}
                <h4 class="bg-light border-top border-bottom py-3" id="U">U</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_U %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_V %}
                <h4 class="bg-light border-top border-bottom py-3" id="V">V</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_V %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_W %}
                <h4 class="bg-light border-top border-bottom py-3" id="W">W</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_W %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_X %}
                <h4 class="bg-light border-top border-bottom py-3" id="X">X</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_X %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_Y %}
                <h4 class="bg-light border-top border-bottom py-3" id="Y">Y</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_Y %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% if colleges_Z %}
                <h4 class="bg-light border-top border-bottom py-3" id="Z">Z</h4>
                <ul class="m-3 list-unstyled">
                    {% for college in colleges_Z %}
                    <li>
                        <p>
                            {% if college.college_url %}
                            <a href="{{ college.college_url }}" target="_blank">
                                {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}}</a>
                            {% else %} {{ college.name }}, {{ college.full_address}} &ndash; {{ college.college_pincode}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br>
{% endblock%}
{% block individualscript%}
<script type="text/javascript">

    $(document).ready(function () {
        $("#searchResults").hide();
        $('#clearButtonDiv').on('click', function () {
            $('#searchColleges').val("").trigger('keyup');
            $("#clear-button").css("visibility", "hidden");
        });
    });

    $("#searchColleges").focus(function () {
        $(".input-group-text,.form-control").css('border-color', '#007bff');
    });
    $("#searchColleges").focusout(function () {
        $(".input-group-text,.form-control").css('border-color', '#ced4da');
    });

    $("#searchColleges").keyup(function () {
        $("#clear-button").css("visibility", "visible");
        query = $(this).val();
        if (query == "") {
            $("#searchResults").hide();
            $("#collegeList").fadeIn("slow");
            $("#clear-button").css("visibility", "hidden");
        } else {
            $("#collegeList").hide();
            $("#searchResults").fadeIn("slow");
        }
        $.ajax({
            method: "POST",
            url: "/search/",
            data: { 'query': query, 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val() },
            success: function (data) {
                $("#searchResults").html(data);
            }
        });

    });
</script> {% endblock %}