{% extends "personal/header.html" %} {% load static %} {% block content %}
<p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Jabir. I am a programmer.</p>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="card-deck">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provinliasied colleges of Assam.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img " src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 3 title</h5>
                    <p class="card-text">This is a wider card with that equal height action.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 4 title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card-deck">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provinliasied colleges of Assam.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img " src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 3 title</h5>
                    <p class="card-text">This is a wider card with that equal height action.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 4 title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card-deck">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provinliasied colleges of Assam.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img " src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 3 title</h5>
                    <p class="card-text">This is a wider card with that equal height action.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 4 title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card-deck">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provinliasied colleges of Assam.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img " src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 3 title</h5>
                    <p class="card-text">This is a wider card with that equal height action.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 4 title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="card-deck">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provinliasied colleges of Assam.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img " src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 3 title</h5>
                    <p class="card-text">This is a wider card with that equal height action.</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card 4 title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'personal/includes/htmlsnippet.html' %}

<p>This is a new website</p>

{% endblock %}