{% extends "personal/header.html" %} {% load static %} {% block content %} {% include 'personal/includes/disclaimer.html'%}

<!-- <p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Jabir. I am a programmer.</p> -->
<div class="container-fluid" id="maincontent">
    <div class="row mb-1" id="row1">
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provincialised colleges of Assam.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                    <a href="#" class="btn btn-outline-light">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3" onclick="location.href='/events';">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Seminar and Workshops</h5>
                    <p class="card-text">Information pertaining to Seminars and Workshops organised by the Universities and Colleges of North-eastern
                        region.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Acts and Rules</h5>
                    <p class="card-text">College Provincialisation Acts and Rules, Assam College Management Rules, Assam Services Acts and Rules,
                        ROP Rules, Acts and Statues of the Universities of North Eastern Region, RTI/RTE Acts, etc.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row2">
        <div class="col-sm-3">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">UGC Regulations</h5>
                    <p class="card-text">UGC Regulations of 2010, 1998 and 1987 including relevant amendments and other regulations related to NET/PhD.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                    <a href="#" class="btn btn-light">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">CAS Promotions</h5>
                    <p class="card-text">Facts about promotions of teachers and librarians as per the OMs issued by Higher Education, Assam w.r.t. Career Advancement Scheme (CAS) of UGC Regulations 2010.
                    </p>
                    <a href="/workshops" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">PBAS and API Score</h5>
                    <p class="card-text">Performance Based Appraisal System and Academic Performance Indicators (APIs) - clarifications, formats and calculations.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">FIP Guide</h5>
                    <p class="card-text">Faculty Improvement Programme for teachers and librarians – guidelines and application formats for fellowship.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row3">
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">OPs and RCs</h5>
                    <p class="card-text">Tentative schedule and application formats for UGC-sponsored OPs and RCs including weblinks of UGC-ASCs.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">SSS and SWS Programmes</h5>
                    <p class="card-text">3-week-duration programmes under UGC's Special Summer / Winter Schools - guidelines and tentative schedule.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                    <a href="#" class="btn btn-light">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Financial Grants</h5>
                    <p class="card-text">Financial grants from UGC and other sources for conference, workshops, seminars and research fellowships etc.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <a href="/workshops" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Ready Rate Reckoner</h5>
                    <p class="card-text">Rates of DA, GIS, HRA, MA, TA and Daily Allowance etc., Grades of Posts, Classification of Services, Fitment Tables and Increment Tables.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row4">
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Pay and Arrears Calculations</h5>
                    <p class="card-text">MS Excel files to prepare Pay Fixation Forms and to calculate revised salary including arrears as per formats.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Retirement Benefits</h5>
                    <p class="card-text">Guidelines and application formats etc. related to all kinds of pensions, gratuity, group insurance and leave encashment.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                    <a href="#" class="btn btn-light">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">FAQs on Leave Rules</h5>
                    <p class="card-text">Answers to Frequently Asked Questions (FAQs) on Revised Leave Rules 1934.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <a href="/workshops" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Journal Search</h5>
                    <p class="card-text">Web sites of different Academic Journals.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row5">
        <div class="col-sm-3">
            <div class="card my-2 box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">Academic Web Sites</h5>
                    <p class="card-text">Weblinks of different institutions / organisations and many others.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card my-2 bg-dark text-white box-shadow">
                <img class="card-img" src="{% static 'personal/img/office.jpg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Provincialised Colleges of Assam</h5>
                    <p class="card-text">Weblinks of Provincialised Colleges of Assam.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                    <a href="#" class="btn btn-light">Go somewhere</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% include 'personal/includes/htmlsnippet.html' %}

<p>This is a new website</p>

{% endblock %}