{% extends "personal/header.html" %} {% load static %} {% block content %} {% include 'personal/includes/disclaimer.html'%}

<!-- <p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Jabir. I am a programmer.</p> -->
<div class="container-fluid" id="maincontent">
    <div class="row mb-1" id="row1">
        <div class="col-xl-3 d-flex align-items-stretch">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/letters.png' %}" alt="letters">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Letters from DHE</h5>
                    <p class="card-text">Letters issued by the Directorate of Higher Education, Assam concerning provincialised colleges of Assam.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Revised Pay Rules</h5>
                    <p class="card-text">Revised pay and allowances for teachers, librarians and other employees of colleges in Assam and its
                        neighbouring states.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/payrules.png' %}" alt="payrules">
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch" onclick="location.href='{% url 'event-list' %}';">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/workshop.png' %}" alt="workshop">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Seminars and Workshops</h5>
                    <p class="card-text">Information pertaining to Seminars and Workshops organised by the Universities and Colleges of North-eastern
                        region.
                    </p>
                    <a href="{% url 'event-list' %}" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Acts and Rules</h5>
                    <p class="card-text">College Provincialisation Acts and Rules, Assam College Management Rules, Assam Services Acts and Rules,
                        ROP Rules, Acts and Statues of the Universities of North Eastern Region, RTI/RTE Acts, etc.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/actrules.jpg' %}" alt="actrules">
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row2">
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/ugc.png' %}" alt="ugcregulation">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">UGC Regulations</h5>
                    <p class="card-text">UGC Regulations of 2010, 1998 and 1987 including relevant amendments and other regulations related to NET/PhD.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">CAS Promotions</h5>
                    <p class="card-text">Facts about promotions of teachers and librarians as per the OMs issued by Higher Education, Assam w.r.t. Career Advancement Scheme (CAS) of UGC Regulations 2010.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/promotion.png' %}" alt="promotion">
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/pbas.png' %}" alt="pbas">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">PBAS and API Score</h5>
                    <p class="card-text">Performance Based Appraisal System (PBAS) and Academic Performance Indicators (APIs) - clarifications, formats and calculations.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">FIP Guide</h5>
                    <p class="card-text">Faculty Improvement Programme for teachers and librarians – guidelines and application formats for fellowship.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/fip.png' %}" alt="fip">
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row3">
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/oprc.png' %}" alt="oprc">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">OPs and RCs</h5>
                    <p class="card-text">Tentative schedule and application formats for UGC-sponsored OPs and RCs including weblinks of UGC-ASCs.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">SSS and SWS Programmes</h5>
                    <p class="card-text">3-week-duration programmes under UGC's Special Summer / Winter Schools - guidelines and tentative schedule.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/sws.png' %}" alt="sws">
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/grant.png' %}" alt="grant">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Financial Grants</h5>
                    <p class="card-text">Financial grants from UGC and other sources for conference, workshops, seminars and research fellowships etc.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Ready Rate Reckoner</h5>
                    <p class="card-text">Rates of DA, GIS, HRA, MA, TA and Daily Allowance etc., Grades of Posts, Classification of Services, Fitment Tables and Increment Tables.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/readyrate.png' %}" alt="readyrate">
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row4">
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/arrearcalc.png' %}" alt="arrearcalc">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Pay and Arrears Calculations</h5>
                    <p class="card-text">MS Excel files to prepare Pay Fixation Forms and to calculate revised salary including arrears as per formats.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Retirement Benefits</h5>
                    <p class="card-text">Guidelines and application formats etc. related to all kinds of pensions, gratuity, group insurance and leave encashment.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/retire.png' %}" alt="retire">
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/leave.png' %}" alt="leave">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">FAQs on Leave Rules</h5>
                    <p class="card-text">Answers to Frequently Asked Questions (FAQs) on Revised Leave Rules 1934.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Journal Search</h5>
                    <p class="card-text">Web sites of different Academic Journals.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/journals.png' %}" alt="journals">
            </div>
        </div>
    </div>
    <div class="row mb-1" id="row5">
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <img class="card-img-top" src="{% static 'personal/img/websites.png' %}" alt="websites">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Academic Web Sites</h5>
                    <p class="card-text">Weblinks of different institutions / organisations and many others.</p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch ">
            <div class="card my-2">
                <div class="card-body d-xl-inline-flex flex-column justify-content-between">
                    <h5 class="card-title">Provincialised Colleges of Assam</h5>
                    <p class="card-text">Weblinks of Provincialised Colleges of Assam.
                    </p>
                    <a href="#" class="btn btn-outline-dark">Read more</a>
                </div>
                <img class="card-img-bottom" src="{% static 'personal/img/college.png' %}" alt="colleges">
            </div>
        </div>
    </div>
</div>
{% endblock %}