{% extends "personal/header.html" %} {% load static %} {% block content %} {% include 'personal/includes/disclaimer.html'%}
<div class="jumbotron jumbotron-fluid bg-dark text-white" style="margin-left:-15px;margin-right:-15px;">
    <div class="container text-center">
        <h1 class="display-4">Updates</h1>
        <p class="lead">Latest news and notifications from UGC, DHE, etc.</p>
    </div>
</div>
<div class="container-fluid" id="maincontent">
    <div class="row">
        <div class="col-xl-4 p-2">
            <div class="contactcard">
                <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center"
                    data-toggle="collapse" href="#cardCollapseDHE" role="button" aria-expanded="true" aria-controls="cardCollapseDHE">
                    DHE
                    <i class="fas fa-minus"></i>
                    <i class="fas fa-plus"></i>
                </div>
                <ul class="collapse show list-group list-group-flush" id="cardCollapseDHE">
                    {% for update in update_DHE %}
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-toggle="collapse" href="#dhe{{update.id}}" role="button" aria-expanded="false" aria-controls="dhe{{update.id}}">
                        {{update.title}}
                        {% if update.is_new %}
                        <span class="badge badge-danger float-right">New</span>
                        {% endif %}
                    </a>
                    <div class="collapse card-body" id="dhe{{update.id}}">
                        <p>{{update.message}}</p>
                        <a class="btn btn-light btn-sm border border-dark my-1">View IPR Format <i class="fas fa-eye"></i></a>
                        <a class="btn btn-light btn-sm border border-dark ">Download IPR Format <i class="fas fa-file-pdf"></i></a>
                    </div>
                    {% endfor %}
                </ul>
                <div class="card-footer text-muted">
                    Archived
                </div>
            </div>
        </div>
        <div class="col-xl-4 p-2">
            <div class="contactcard">
                <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center"
                    data-toggle="collapse" href="#cardCollapseUGC" role="button" aria-expanded="true" aria-controls="cardCollapseUGC">
                    UGC
                    <i class="fas fa-minus"></i>
                    <i class="fas fa-plus"></i>
                </div>
                <ul class="collapse show list-group list-group-flush" id="cardCollapseUGC">
                    {% for update in update_UGC %}
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-toggle="collapse" href="#dhe{{update.id}}" role="button" aria-expanded="false" aria-controls="dhe{{update.id}}">
                        {{update.title}}
                        {% if update.is_new %}
                        <span class="badge badge-danger float-right">New</span>
                        {% endif %}
                    </a>
                    <div class="collapse card-body" id="dhe{{update.id}}">
                        <p>{{update.message}}</p>
                        <a class="btn btn-light btn-sm border border-dark my-1">View IPR Format <i class="fas fa-eye"></i></a>
                        <a class="btn btn-light btn-sm border border-dark">Download IPR Format <i class="fas fa-file-pdf"></i></a>
                    </div>
                    {% endfor %}
                </ul>
                <div class="card-footer text-muted">
                    Archived
                </div>
            </div>
        </div>
        <div class="col-xl-4 p-2">
            <div class="contactcard">
                <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center"
                    data-toggle="collapse" href="#cardCollapseOthers" role="button" aria-expanded="true" aria-controls="cardCollapseOthers">
                    Others
                    <i class="fas fa-minus"></i>
                    <i class="fas fa-plus"></i>
                </div>
                <ul class="collapse show list-group list-group-flush" id="cardCollapseOthers">
                    {% for update in update_Others %}
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-toggle="collapse" href="#dhe{{update.id}}" role="button" aria-expanded="false" aria-controls="dhe{{update.id}}">
                        {{update.title}}
                        {% if update.is_new %}
                        <span class="badge badge-danger float-right">New</span>
                        {% endif %}
                    </a>
                    <div class="collapse card-body" id="dhe{{update.id}}">
                        <p>{{update.message}}</p>
                        <a class="btn btn-light btn-sm border border-dark my-1">View IPR Format <i class="fas fa-eye"></i></a>
                        <a class="btn btn-light btn-sm border border-dark">Download IPR Format <i class="fas fa-file-pdf"></i></a>
                    </div>
                    {% endfor %}
                </ul>
                <div class="card-footer text-muted">
                    Archived
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}