{% extends "personal/header.html" %} {% block content %} {% load humanize %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form action="select_event" method="get">{% csrf_token %}
                <div class="btn-toolbar btn-group-toggle float-right mb-1" role="toolbar" aria-label="Basic example" data-toggle="buttons">
                    <label class="btn btn-outline-primary m-1 active">
                        <input type="radio" class="myRadioClass" name="options" id="option1" value="All Events" autocomplete="off" checked>All Events
                    </label>
                    <label class="btn btn-outline-primary m-1">
                        <input type="radio" class="myRadioClass" name="options" id="option2" value="Workshops" autocomplete="off">Workshops
                    </label>
                    <label class="btn btn-outline-primary m-1">
                        <input type="radio" class="myRadioClass" name="options" id="option3" value="Seminars" autocomplete="off">Seminars
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("input:radio").change(function () {
        $option = $(this).val();
        console.log($option);
        $.ajax({
            url: '/hello/',
            data: {
                'action': "select_event",
                'option' : $option
            },
            dataType: 'json',
            success: function(data){
                console.log(data.events);
            }
        });
    });
</script>

<div class="container-fluid">
    <div class="list-group">
        {% for event in event_list %}
        <a href="/workshops/{{ event.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ event.title }}</h5>
                <small>Updated: {{ event.created_at|naturaltime }}</small>
            </div>
            <p class="mb-1 text-info">{{ event.event_details }}</p>
            <p class="mb-1 ">Organised by: {{ event.organiser_dept }}, {{ event.organiser_college }}.</p>
            <p class="mb-1 text-danger">Date: {{ event.startdate|date:"jS F, Y" }} - {{ event.enddate|date:"dS F, Y" }}</p>
            <small>Venue: {{ event.organiser_college }}, {{ event.organiser_district}} {{ event.organiser_state }}: {{ event.organiser_pincode}}</small>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock%}